body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:62px;
}
#u23421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:61px;
  font-size:14px;
}
#u23422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:51px;
}
#u23423 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:156px;
  height:50px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u23424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:152px;
  word-wrap:break-word;
}
#u23425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23426 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23426_img.mouseDown {
}
#u23426.mouseDown {
}
#u23426_img.selected {
}
#u23426.selected {
}
#u23427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23429 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23429_img.mouseDown {
}
#u23429.mouseDown {
}
#u23429_img.selected {
}
#u23429.selected {
}
#u23430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23432 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23432_img.mouseDown {
}
#u23432.mouseDown {
}
#u23432_img.selected {
}
#u23432.selected {
}
#u23433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23435 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23435_img.mouseDown {
}
#u23435.mouseDown {
}
#u23435_img.selected {
}
#u23435.selected {
}
#u23436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23438 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23438_img.mouseDown {
}
#u23438.mouseDown {
}
#u23438_img.selected {
}
#u23438.selected {
}
#u23439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23441 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23441_img.mouseDown {
}
#u23441.mouseDown {
}
#u23441_img.selected {
}
#u23441.selected {
}
#u23442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23444 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23444_img.mouseDown {
}
#u23444.mouseDown {
}
#u23444_img.selected {
}
#u23444.selected {
}
#u23445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u23447 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u23447_img.mouseDown {
}
#u23447.mouseDown {
}
#u23447_img.selected {
}
#u23447.selected {
}
#u23448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u23449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23449 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:15px;
  width:30px;
  height:30px;
}
#u23450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23451 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:15px;
  width:30px;
  height:30px;
}
#u23452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u23453 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:22px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u23454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:836px;
}
#u23455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:175px;
  height:835px;
  font-size:14px;
}
#u23456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:836px;
}
#u23457 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:65px;
  width:825px;
  height:835px;
  font-size:14px;
}
#u23458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23459 {
  position:absolute;
  left:750px;
  top:65px;
  visibility:hidden;
}
#u23459_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
  background-image:none;
}
#u23459_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
}
#u23460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:835px;
  font-size:14px;
}
#u23461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u23462 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:110px;
  width:800px;
  height:1px;
}
#u23463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:23px;
}
#u23464 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:80px;
  width:336px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u23466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u23466 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:560px;
  width:80px;
  height:30px;
}
#u23467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u23468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23468 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:133px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23470 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:173px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23472 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:213px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23474 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:213px;
  width:316px;
  height:30px;
}
#u23474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23475 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:253px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23477 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:253px;
  width:139px;
  height:30px;
}
#u23477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23478 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:293px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23480 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:333px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23482 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:373px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23484 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:413px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u23486 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:453px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u23487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u23488 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:299px;
  width:60px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23489 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u23488_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23490 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:299px;
  width:60px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23491 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u23490_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23492 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:173px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u23494 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:133px;
  width:316px;
  height:30px;
}
#u23494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23495 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:173px;
  width:284px;
  height:30px;
}
#u23495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23496 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:259px;
  width:60px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23497 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u23496_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23498 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:259px;
  width:60px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23499 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u23498_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23500 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:253px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u23502 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:293px;
  width:139px;
  height:30px;
}
#u23502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u23503 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:293px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u23505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u23505 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:293px;
  width:200px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u23507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u23508 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:333px;
  width:140px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u23509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u23510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u23510 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:333px;
  width:29px;
  height:29px;
  font-size:12px;
}
#u23511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
}
#u23512 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:333px;
  width:136px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u23513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u23514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u23514 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:333px;
  width:29px;
  height:29px;
  font-size:12px;
}
#u23515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u23516 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:348px;
  width:18px;
  height:1px;
  font-size:12px;
}
#u23517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23518 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:382px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23519 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23518_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23520 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:382px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23521 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23520_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u23522 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:376px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u23524 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:419px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23525 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u23524_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23526 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:419px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23527 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u23526_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23528 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:419px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u23529 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u23528_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23530 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:413px;
  width:82px;
  height:30px;
}
#u23530_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u23531 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:413px;
  width:29px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  word-wrap:break-word;
}
#u23533 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:459px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u23534 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23533_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23535 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:459px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u23536 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23535_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u23537 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:213px;
  width:200px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u23538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
