body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:62px;
}
#u24395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:61px;
  font-size:14px;
}
#u24396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:51px;
}
#u24397 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:156px;
  height:50px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u24398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:152px;
  word-wrap:break-word;
}
#u24399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24400 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24400_img.mouseDown {
}
#u24400.mouseDown {
}
#u24400_img.selected {
}
#u24400.selected {
}
#u24401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24403 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24403_img.mouseDown {
}
#u24403.mouseDown {
}
#u24403_img.selected {
}
#u24403.selected {
}
#u24404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24406 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24406_img.mouseDown {
}
#u24406.mouseDown {
}
#u24406_img.selected {
}
#u24406.selected {
}
#u24407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24409 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24409_img.mouseDown {
}
#u24409.mouseDown {
}
#u24409_img.selected {
}
#u24409.selected {
}
#u24410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24412 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24412_img.mouseDown {
}
#u24412.mouseDown {
}
#u24412_img.selected {
}
#u24412.selected {
}
#u24413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24415 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24415_img.mouseDown {
}
#u24415.mouseDown {
}
#u24415_img.selected {
}
#u24415.selected {
}
#u24416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24418 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24418_img.mouseDown {
}
#u24418.mouseDown {
}
#u24418_img.selected {
}
#u24418.selected {
}
#u24419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u24421 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u24421_img.mouseDown {
}
#u24421.mouseDown {
}
#u24421_img.selected {
}
#u24421.selected {
}
#u24422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u24423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24423 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:15px;
  width:30px;
  height:30px;
}
#u24424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24425 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:15px;
  width:30px;
  height:30px;
}
#u24426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u24427 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:22px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u24428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u24429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:836px;
}
#u24429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:175px;
  height:835px;
  font-size:14px;
}
#u24430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:836px;
}
#u24431 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:65px;
  width:825px;
  height:835px;
  font-size:14px;
}
#u24432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24433 {
  position:absolute;
  left:750px;
  top:65px;
  visibility:hidden;
}
#u24433_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
  background-image:none;
}
#u24433_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
}
#u24434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:835px;
  font-size:14px;
}
#u24435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:31px;
}
#u24436 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:80px;
  width:703px;
  height:30px;
}
#u24437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:475px;
}
#u24438 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:110px;
  width:703px;
  height:474px;
}
#u24439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:229px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:41px;
}
#u24440 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:584px;
  width:703px;
  height:40px;
}
#u24441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:699px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24442 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:80px;
  width:30px;
  height:30px;
}
#u24443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u24444 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:80px;
  width:190px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u24445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u24446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u24446 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:584px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u24448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u24449 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:544px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24449_img.mouseOver {
}
#u24449.mouseOver {
}
#u24449_img.mouseDown {
}
#u24449.mouseDown {
}
#u24450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24451 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24451_img.mouseOver {
}
#u24451.mouseOver {
}
#u24451_img.mouseDown {
}
#u24451.mouseDown {
}
#u24452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24453 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24453_img.mouseOver {
}
#u24453.mouseOver {
}
#u24453_img.mouseDown {
}
#u24453.mouseDown {
}
#u24454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24455 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24455_img.mouseOver {
}
#u24455.mouseOver {
}
#u24455_img.mouseDown {
}
#u24455.mouseDown {
}
#u24456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24457 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24457_img.mouseOver {
}
#u24457.mouseOver {
}
#u24457_img.mouseDown {
}
#u24457.mouseDown {
}
#u24458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24459 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24459_img.mouseOver {
}
#u24459.mouseOver {
}
#u24459_img.mouseDown {
}
#u24459.mouseDown {
}
#u24460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24461 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24461_img.mouseOver {
}
#u24461.mouseOver {
}
#u24461_img.mouseDown {
}
#u24461.mouseDown {
}
#u24462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24463 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24463_img.mouseOver {
}
#u24463.mouseOver {
}
#u24463_img.mouseDown {
}
#u24463.mouseDown {
}
#u24464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24465 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24465_img.mouseOver {
}
#u24465.mouseOver {
}
#u24465_img.mouseDown {
}
#u24465.mouseDown {
}
#u24466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24467 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24467_img.mouseOver {
}
#u24467.mouseOver {
}
#u24467_img.mouseDown {
}
#u24467.mouseDown {
}
#u24468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u24469 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:544px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24469_img.mouseOver {
}
#u24469.mouseOver {
}
#u24469_img.mouseDown {
}
#u24469.mouseDown {
}
#u24470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u24471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u24471 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:544px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24471_img.mouseOver {
}
#u24471.mouseOver {
}
#u24471_img.mouseDown {
}
#u24471.mouseDown {
}
#u24472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
}
#u24473 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:550px;
  width:146px;
  height:18px;
  color:#424242;
}
#u24474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u24475 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:544px;
  width:29px;
  height:30px;
}
#u24475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u24476 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:544px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#434343;
}
#u24476_img.mouseOver {
}
#u24476.mouseOver {
}
#u24476_img.mouseDown {
}
#u24476.mouseDown {
}
#u24477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u24478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u24478 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:228px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u24480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24480 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:217px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u24481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u24482 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:237px;
  width:51px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u24484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u24484 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:217px;
  width:135px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u24486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24486 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:229px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:2px;
}
#u24488 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:267px;
  width:677px;
  height:1px;
}
#u24489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24490 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:229px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u24492 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:120px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u24494 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:120px;
  width:120px;
  height:30px;
}
#u24494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24495 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:120px;
  width:120px;
  height:30px;
}
#u24495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u24495_input:disabled {
  color:grayText;
}
#u24496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u24496 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:120px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u24498 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:120px;
  width:120px;
  height:30px;
}
#u24498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u24498_input:disabled {
  color:grayText;
}
#u24499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u24499 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:120px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u24501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u24501 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:122px;
  width:81px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:77px;
  word-wrap:break-word;
}
#u24503 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:167px;
  width:682px;
  height:45px;
}
#u24504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:41px;
}
#u24504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u24505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:386px;
  word-wrap:break-word;
}
#u24506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
}
#u24506 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u24507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u24508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:41px;
}
#u24508 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:0px;
  width:97px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u24509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u24510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u24510 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:0px;
  width:89px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u24511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u24512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u24512 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:289px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u24514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24514 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:278px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u24515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u24516 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:298px;
  width:51px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u24518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u24518 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:278px;
  width:135px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u24520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24520 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:290px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:2px;
}
#u24522 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:328px;
  width:677px;
  height:1px;
}
#u24523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24524 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:290px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u24526 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:350px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u24528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24528 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:339px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u24529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u24530 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:359px;
  width:51px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u24532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u24532 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:339px;
  width:135px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u24534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24534 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:351px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:2px;
}
#u24536 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:389px;
  width:677px;
  height:1px;
}
#u24537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24538 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:351px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u24540 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:411px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u24542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24542 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:400px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u24543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u24544 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:420px;
  width:51px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u24546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u24546 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:400px;
  width:135px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u24548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24548 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:412px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:2px;
}
#u24550 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:450px;
  width:677px;
  height:1px;
}
#u24551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24552 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:412px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u24554 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:472px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u24556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u24556 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:461px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u24557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u24558 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:481px;
  width:51px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u24560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u24560 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:461px;
  width:135px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#005392;
}
#u24561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u24562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24562 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:473px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:2px;
}
#u24564 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:511px;
  width:677px;
  height:1px;
}
#u24565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u24566 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:473px;
  width:59px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#424242;
  text-align:center;
}
#u24567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u24568 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:179px;
  width:44px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24569 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u24568_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24570 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:234px;
  width:20px;
  height:16px;
  font-size:12px;
}
#u24571 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24570_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24572 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:290px;
  width:20px;
  height:16px;
  font-size:12px;
}
#u24573 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24572_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24574 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:351px;
  width:20px;
  height:16px;
  font-size:12px;
}
#u24575 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24574_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24576 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:410px;
  width:20px;
  height:16px;
  font-size:12px;
}
#u24577 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24576_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24578 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:473px;
  width:20px;
  height:16px;
  font-size:12px;
}
#u24579 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24578_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
