body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:62px;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:61px;
  font-size:14px;
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:51px;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:156px;
  height:50px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#797979;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:152px;
  word-wrap:break-word;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10558_img.mouseDown {
}
#u10558.mouseDown {
}
#u10558_img.selected {
}
#u10558.selected {
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10561_img.mouseDown {
}
#u10561.mouseDown {
}
#u10561_img.selected {
}
#u10561.selected {
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10564 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10564_img.mouseDown {
}
#u10564.mouseDown {
}
#u10564_img.selected {
}
#u10564.selected {
}
#u10565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10567 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10567_img.mouseDown {
}
#u10567.mouseDown {
}
#u10567_img.selected {
}
#u10567.selected {
}
#u10568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10570 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10570_img.mouseDown {
}
#u10570.mouseDown {
}
#u10570_img.selected {
}
#u10570.selected {
}
#u10571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10573 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10573_img.mouseDown {
}
#u10573.mouseDown {
}
#u10573_img.selected {
}
#u10573.selected {
}
#u10574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10576 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10576_img.mouseDown {
}
#u10576.mouseDown {
}
#u10576_img.selected {
}
#u10576.selected {
}
#u10577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u10579 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:15px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#363636;
}
#u10579_img.mouseDown {
}
#u10579.mouseDown {
}
#u10579_img.selected {
}
#u10579.selected {
}
#u10580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u10581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10581 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:15px;
  width:30px;
  height:30px;
}
#u10582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10583 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:15px;
  width:30px;
  height:30px;
}
#u10584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u10585 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:22px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u10586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:836px;
}
#u10587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:175px;
  height:835px;
  font-size:14px;
}
#u10588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:836px;
}
#u10589 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:65px;
  width:825px;
  height:835px;
  font-size:14px;
}
#u10590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10591 {
  position:absolute;
  left:750px;
  top:65px;
  visibility:hidden;
}
#u10591_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
  background-image:none;
}
#u10591_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:836px;
}
#u10592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:835px;
  font-size:14px;
}
#u10593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:410px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:31px;
}
#u10594 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:80px;
  width:764px;
  height:30px;
}
#u10595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:450px;
}
#u10596 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:110px;
  width:764px;
  height:449px;
}
#u10597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:41px;
}
#u10598 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:559px;
  width:764px;
  height:40px;
}
#u10599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10600 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:80px;
  width:30px;
  height:30px;
}
#u10601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u10602 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:80px;
  width:190px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u10603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u10602_ann {
  border-width:0px;
  position:absolute;
  left:373px;
  top:76px;
  width:1px;
  height:1px;
}
#u10604 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:185px;
  width:752px;
  height:45px;
}
#u10605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:41px;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u10607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u10607 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u10609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:41px;
}
#u10609 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:71px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u10611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u10611 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:0px;
  width:76px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u10613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u10613 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:0px;
  width:76px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u10615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u10615 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:73px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u10617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u10617 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:0px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u10619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
}
#u10619 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:75px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u10621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:41px;
}
#u10621 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:0px;
  width:72px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u10623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u10623 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:235px;
  width:80px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u10625 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:265px;
  width:747px;
  height:1px;
}
#u10626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u10627 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:235px;
  width:145px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10629 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:229px;
  width:60px;
  height:30px;
}
#u10629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
}
#u10630 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:558px;
  width:140px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u10632 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:91px;
  height:30px;
}
#u10632_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u10632_input:disabled {
  color:grayText;
}
#u10632_ann {
  border-width:0px;
  position:absolute;
  left:344px;
  top:116px;
  width:1px;
  height:1px;
}
#u10633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u10633 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:120px;
  width:61px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u10635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u10635 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:120px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u10637 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:229px;
  width:60px;
  height:30px;
}
#u10637_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10638 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:229px;
  width:60px;
  height:30px;
}
#u10638_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10639 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:229px;
  width:60px;
  height:30px;
}
#u10639_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10640 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:229px;
  width:60px;
  height:30px;
}
#u10640_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10641 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:229px;
  width:60px;
  height:30px;
}
#u10641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10642 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:229px;
  width:60px;
  height:30px;
}
#u10642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u10643 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:282px;
  width:80px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u10645 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:312px;
  width:747px;
  height:1px;
}
#u10646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u10647 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:282px;
  width:145px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10649 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:276px;
  width:60px;
  height:30px;
}
#u10649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10650 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:276px;
  width:60px;
  height:30px;
}
#u10650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10651 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:276px;
  width:60px;
  height:30px;
}
#u10651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10652 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:276px;
  width:60px;
  height:30px;
}
#u10652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10653 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:276px;
  width:60px;
  height:30px;
}
#u10653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10654 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:276px;
  width:60px;
  height:30px;
}
#u10654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10655 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:276px;
  width:60px;
  height:30px;
}
#u10655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u10656 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:329px;
  width:80px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u10658 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:359px;
  width:747px;
  height:1px;
}
#u10659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u10660 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:329px;
  width:145px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10662 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:323px;
  width:60px;
  height:30px;
}
#u10662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10663 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:323px;
  width:60px;
  height:30px;
}
#u10663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10664 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:323px;
  width:60px;
  height:30px;
}
#u10664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10665 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:323px;
  width:60px;
  height:30px;
}
#u10665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10666 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:323px;
  width:60px;
  height:30px;
}
#u10666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10667 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:323px;
  width:60px;
  height:30px;
}
#u10667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10668 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:323px;
  width:60px;
  height:30px;
}
#u10668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u10669 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:376px;
  width:80px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u10671 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:406px;
  width:747px;
  height:1px;
}
#u10672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u10673 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:376px;
  width:145px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10675 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:370px;
  width:60px;
  height:30px;
}
#u10675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10676 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:370px;
  width:60px;
  height:30px;
}
#u10676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10677 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:370px;
  width:60px;
  height:30px;
}
#u10677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10678 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:370px;
  width:60px;
  height:30px;
}
#u10678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10679 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:370px;
  width:60px;
  height:30px;
}
#u10679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10680 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:370px;
  width:60px;
  height:30px;
}
#u10680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10681 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:370px;
  width:60px;
  height:30px;
}
#u10681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u10682 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:423px;
  width:80px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u10684 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:453px;
  width:747px;
  height:1px;
}
#u10685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u10686 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:423px;
  width:145px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10688 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:417px;
  width:60px;
  height:30px;
}
#u10688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10689 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:417px;
  width:60px;
  height:30px;
}
#u10689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10690 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:417px;
  width:60px;
  height:30px;
}
#u10690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10691 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:417px;
  width:60px;
  height:30px;
}
#u10691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10692 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:417px;
  width:60px;
  height:30px;
}
#u10692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10693 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:417px;
  width:60px;
  height:30px;
}
#u10693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10694 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:417px;
  width:60px;
  height:30px;
}
#u10694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u10695 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:470px;
  width:80px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:2px;
}
#u10697 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:500px;
  width:747px;
  height:1px;
}
#u10698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u10699 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:470px;
  width:145px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10701 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:464px;
  width:60px;
  height:30px;
}
#u10701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10702 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:464px;
  width:60px;
  height:30px;
}
#u10702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10703 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:464px;
  width:60px;
  height:30px;
}
#u10703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10704 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:464px;
  width:60px;
  height:30px;
}
#u10704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10705 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:464px;
  width:60px;
  height:30px;
}
#u10705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10706 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:464px;
  width:60px;
  height:30px;
}
#u10706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10707 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:464px;
  width:60px;
  height:30px;
}
#u10707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:31px;
}
#u10708 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:120px;
  width:19px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u10710 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:120px;
  width:40px;
  height:30px;
}
#u10710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u10711 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:120px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u10713 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:120px;
  width:91px;
  height:30px;
}
#u10713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u10713_input:disabled {
  color:grayText;
}
#u10713_ann {
  border-width:0px;
  position:absolute;
  left:634px;
  top:116px;
  width:1px;
  height:1px;
}
#u10714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:31px;
}
#u10714 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:120px;
  width:19px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:19px;
  word-wrap:break-word;
}
#u10716 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:120px;
  width:91px;
  height:30px;
}
#u10716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u10716_input:disabled {
  color:grayText;
}
#u10716_ann {
  border-width:0px;
  position:absolute;
  left:735px;
  top:116px;
  width:1px;
  height:1px;
}
#u10717 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:120px;
  width:57px;
  height:30px;
}
#u10717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u10717_input:disabled {
  color:grayText;
}
#u10717_ann {
  border-width:0px;
  position:absolute;
  left:802px;
  top:116px;
  width:1px;
  height:1px;
}
#u10718 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:120px;
  width:40px;
  height:30px;
}
#u10718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u10719 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:120px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
